* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.header .container-fluid {
    padding: 0;
}

html {
    font-style: 62.5%;
}


/* ----COMMON FONT------ */

.title {
    font-size: 2rem;
    font-weight: 700;
}

.h3 {
    font-weight: 700;
    font-size: 1.5rem;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.padding-top {
    padding-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.align-center {
    align-items: center !important;
}


/* --------LOGO------ */

.logo {
    display: flex;
    position: relative;
}

.logo .logo__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo1 {
    height: 100px;
}

.logo .logo__top .logo__top-right {
    font-style: 1.6rem;
    display: flex;
}

.logo .logo__top .logo__top-right .login a {
    color: black;
    font-size: 1.6rem;
    text-decoration: none;
}

.header {
    width: 100%;
}

.header .header__menu {
    position: relative;
    display: flex;
    background-color: #1fa2c4;
    padding: 1rem 0;
    white-space: nowrap;
}

.header .header__menu .menu-list {
    display: flex;
    list-style-type: none;
    margin-bottom: 0px;
}

.header .header__menu .menu-list li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
    padding: 2rem;
}

.header .header__menu .menu-list li a:hover {
    color: #bf964c;
}

.humberger {
    display: none;
}

.humberger .line {
    width: 2rem;
    height: 2px;
    background-color: #000;
    margin: 0.3rem;
}


/* ------header__search------- */

.header__search {
    text-align: center;
    background-color: #d5feff;
    padding: 1.2rem 0 5.4rem 0;
}

.text {
    /* font-size: 35px;
    font-weight: 700;
    text-align: center; */
    padding-bottom: 1rem;
    letter-spacing: 0.15rem;
}

.test input {
    border: 0px;
    line-height: 78px;
    width: 100%;
}

.test {
    width: 100%;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    height: 80px;
    background-color: white;
    margin-bottom: 1rem;
    padding: 0px 0px !important;
}


/* ------header__icon----- */

.header__icon {
    background-color: #f5ffff;
    border: 1px solid #c4cbcb;
}

.header__icon .header__icon-pd {
    padding: 1rem 0 2.1rem 0;
}

.header__icon .header__icon-icon {
    width: 50%;
    align-items: center;
    /* font-size: 1.6rem; */
    white-space: nowrap;
    justify-content: space-between;
}

.header__icon .header__icon-icon1 {
    width: 50%;
    align-items: center;
    font-size: 1.6rem;
    justify-content: space-between;
}


/* -----bg----- */

.bg {
    padding: 2rem 0 0 0;
    /* background-image: url('./assets/images/banner1.jpg'); */
}

.imgbg {
    width: 100%;
}


/* ======SLIDESHOW====== */

.slideshow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
}

.imgslide {
    width: 100%;
}

#slide-container {
    overflow: hidden;
    position: relative;
}

.navButton {
    cursor: pointer;
    /* width: 20px;
    height: 20px; */
    font-weight: 700;
    overflow: hidden;
    opacity: 0.6;
    user-select: none;
    font-size: 50px;
    /* text-align: center;
    justify-content: space-between;
    align-items: center; */
}

.navButton:hover {
    opacity: 1;
}

.imgcontainer:not(:first-child) {
    display: none;
}


/* ======news====== */

.news {
    padding-top: 2rem;
}

.line {
    color: #9b9b9b;
}

.news .news__combo {
    display: flex;
}

.news .news__combo .card .card-body {
    text-align: center;
}

.news .news__combo .card .card-body a {
    color: black;
}

.news .news__combo .card .card-body a:hover {
    text-decoration: none;
}

.news .news__combo .card .card-body .card-title {
    font-weight: 700;
    text-align: center;
}

.news .news__combo .card .card-body .card-text {
    text-align: center;
    font-size: 1.5rem;
}

.news .news__combo .card .card-body .cart {
    /* text-align: center; */
    border-radius: 30px;
    color: white;
    width: 180px;
    height: 50px;
    border: 0px;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #1fa2c4;
}

.card-img-top {
    width: 100%;
}

.combo :hover {
    transform: scale(1.1);
    overflow: hidden;
}


/* ===news===== */


/* .news__new {
    width: 100%;
    height: 100%;
} */

.item-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-one {
    width: 100%;
}

.news-card {
    width: 150px;
    float: right;
    margin-top: 1rem;
    height: 30px;
    border: 0px;
    font-style: italic;
    color: white;
    border-radius: 15px;
    background-color: #1fa2c4;
}


/* .news__new-slide {
    width: 100%;
    height: 100%;
} */

.carousel-multi-item ol li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #c4cbcb;
    background-color: black;
    margin-left: 5px;
    margin-right: 5px;
}


/* .carousel-multi-item {
    height: 80%;
    width: 100%;
} */


/* =====.famous-place==== */

.famous-place {
    padding-top: 2rem;
}

.combo-place {
    background-color: #d5feff;
    margin-bottom: 0px;
}

.famous-place .combo .card a:hover {
    color: #bf964c;
}

.famous-place .combo .card a {
    color: black;
    text-decoration: none;
}


/* =====footer===== */

.footer .footer__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer__logo .footer__logo-logo {
    width: 100%;
}

.footer .footer__logo .footer__logo-text {
    font-size: 1.6rem;
    font-weight: 600;
}

.footer .footer__logo .footer__logo-text a {
    color: black;
    text-decoration: none;
}

.footer .footer__logo .footer__logo-text a:hover {
    color: #bf964c;
}

.footer .footer__adress {
    display: flex;
    align-items: center;
}

.footer .footer__adress p {
    padding-left: 1.5rem;
}

.footer .footer__adress img {
    width: 7%;
}

.footer .footer__rule .footer__rule-text {
    font-size: 1.4rem;
}

.footer .footer__connect {
    padding-bottom: 1rem;
}

.footer .footer__connect a {
    color: black;
    padding-right: 1.5rem;
}

.footer .footer__connect a:hover {
    color: #bf964c;
}

.footer .footer-map {
    width: 100%;
}


/* =======media====== */

@media(max-width:991px) {
    .humberger {
        position: absolute;
        /* top: 0; */
        right: 0;
        cursor: pointer;
        display: block;
        right: 2rem;
        background-color: blue;
        padding: 0.5rem 0.3rem;
    }
    .header .header__menu {
        flex-direction: column;
        align-items: flex-start;
    }
    .header .header__menu .menu-list {
        flex-direction: column;
        max-height: 0.5rem;
        transition: ease-in 250ms;
        overflow: hidden;
        padding: 1.3rem;
    }
    .header .header__menu .showmenu {
        max-height: 100vh;
    }
    .header .header__menu .menu-list li {
        padding: 1rem 0;
    }
    .my-4 {
        width: 100%;
        height: 80%;
    }
}

@media(max-width:767px) {}

@media(max-width:575px) {}